@import "variables.scss";
@import "scaffolding.scss";

.main__wrapper {
  margin: 0 auto;
  padding: 35px 0;
  max-width: $desktop-width;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: calc(50% - 1px);
    top: 35px;
    width: 2px;
    height: calc(100% - 70px);
    background-color: $yellow;
  }
}

.main__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.main__item {
  margin-top: 30px;
  padding-left: 110px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.main__item:nth-child(1) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.main__item:nth-child(2) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
}

.main__item:nth-child(3) {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 5;
}

.main__item:nth-child(4) {
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 2;
  grid-row-end: 6;
}

.main__item:nth-child(2n+1) {
  &::before {
    content: "";
    position: absolute;
    right: -1px;
    top: 37px;
    width: 120px;
    border-bottom: 2px dashed $yellow;
  }

  &::after {
    content: "";
    position: absolute;
    right: -12px;
    top: 25px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $yellow;
  }
}

.main__item:nth-child(2n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 47px;
    width: 70px;
    border-bottom: 2px dashed $yellow;
  }

  &::after {
    content: "";
    position: absolute;
    left: -12px;
    top: 35px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $yellow;
  }
}

.main__item-badge {
  &::before {
    content: "";
    position: absolute;
    left: -110px;
    top: 0;
    width: 104px;
    height: 98px;
    background-image: url("../img/badge.png");
    background-size: 104px 98px;
  }
}

.main__item-phone {
  &::before {
    content: "";
    position: absolute;
    left: -110px;
    top: 0;
    width: 103px;
    height: 94px;
    background-image: url("../img/phone.png");
    background-size: 103px 94px;
  }
}

.main__item-result {
  &::before {
    content: "";
    position: absolute;
    left: -110px;
    top: 0;
    width: 100px;
    height: 101px;
    background-image: url("../img/result.png");
    background-size: 100px 101px;
  }
}

.main__item-wrapper {
  width: 305px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

h2 {
  margin: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 72px;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 2px $grey;
  text-shadow: -8px -8px $yellow;
}

h3 {
  margin: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 24px;
  color: $black;
}

p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  color: $black;
}

.main__item-link {
  font-size: 18px;
  font-weight: 600;
  color: $turquoise;
  cursor: pointer;
  outline: none;
}

.main__item-link:hover,
.main__item-link:focus {
  opacity: 0.7;
}

.main__item-link:active {
  opacity: 0.5;
}

@media (max-width: $laptop-width) {
  .main__item {
    margin-top: 15px;
    padding-left: 100px;
    padding-right: 40px;
  }

  .main__item-wrapper {
    width: 100%;
  }

  .main__item-badge {
    &::before {
      left: -85px;
      width: 76px;
      height: 71px;
      background-size: 76px 71px;
    }
  }

  .main__item-phone {
    &::before {
      left: -85px;
      width: 75px;
      height: 68px;
      background-size: 75px 68px;
    }
  }

  .main__item-result {
    &::before {
      left: -85px;
      width: 72px;
      height: 74px;
      background-size: 72px 74px;
    }
  }

  h2 {
    margin-bottom: 12px;
    font-size: 52px;
  }

  h3 {
    margin-bottom: 12px;
    font-size: 18px;
  }

  p {
    margin-bottom: 20px;
    font-size: 12px;
  }

  .main__item-link {
    font-size: 13px;
  }

  .main__item:nth-child(2n+1) {
    &::before {
      top: 24px;
      width: 25%;
    }

    &::after {
      right: -9px;
      top: 15px;
      width: 18px;
      height: 18px;
    }
  }

  .main__item:nth-child(2n) {
    padding-left: 120px;
    padding-right: 10px;

    &::before {
      top: 34px;
      width: 7%;
    }

    &::after {
      left: -9px;
      top: 25px;
      width: 18px;
      height: 18px;
    }
  }
}

@media (max-width: $mobile-width) {
  .main__wrapper::before {
    content: none;
  }

  .main__list {
    display: block;
  }

  .main__item {
    margin-bottom: 60px;
    padding-left: 75px;
    padding-right: 10px;
    width: 100%;
  }

  .main__item:nth-child(2n+1) {
    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  .main__item:nth-child(2n) {
    padding-left: 75px;
    padding-right: 10px;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  .main__item:last-of-type {
    margin-bottom: 0;
  }
}
