$white: #f9fbfd;
$black: #011c40;
$grey: #676767;
$yellow: #ffd966;
$turquoise: #6accb2;
$montserrat: "Montserrat", "Arial", sans-serif;
$desktop-width: 1000px;
$laptop-width: 999px;
$mobile-width: 767px;
